* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Segoe UI", sans-serif;
    line-height: 1.6;
    color: #333;
}

/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 60px;
    background-color: #111;
}

.navbar .logo {
    color: #fff;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 25px;
}

.navbar a {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.navbar a:hover {
    color: #00bcd4;
}

/* BANNER */
.banner {
    height: 60vh;
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner h1 {
    font-size: 40px;
}

.banner p {
    margin-top: 10px;
    font-size: 18px;
}

/* SECTIONS */
.section {
    padding: 60px 80px;
}

.section h2 {
    margin-bottom: 20px;
    text-transform: uppercase;
}

.light {
    background-color: #f4f4f4;
}

/* SKILLS */
.skill-grid {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    background: white;
    padding: 25px;
    width: 280px;
    border-radius: 10px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.card:hover {
    transform: translateY(-8px);
}

/* PROJECTS */
.project-card {
    background: #fff;
    padding: 25px;
    border-left: 6px solid #00bcd4;
    box-shadow: 0 8px 16px rgba(0,0,0,0.1);
}

/* FOOTER */
footer {
    background-color: #111;
    color: white;
    text-align: center;
    padding: 25px;
    margin-top: 40px;
}
